<nav class="site-nav{% if page.title != 'Home' %} site-nav--light{% endif %}" aria-label="Main navigation">
    <div class="inner">
        <a class="brand" href="{{ site.url }}/">{{ site.name }}</a>
        <ul class="list">
            <li class="item">
                <a class="link{% if page.title == 'Home' %} active{% endif %}" href="{{ site.url }}/">Home</a>
            </li>
            {% if site.about %}
            <li class="item">
                <a class="link{% if page.title == 'About' %} active{% endif %}" href="{{ site.url }}/about">About</a>
            </li>
            {% endif %}
            {% if site.projects %}
            <li class="item">
                <a class="link{% if page.title == 'Projects' %} active{% endif %}" href="{{ site.url }}/projects">Projects</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
