.text-center
	text-align: center

.clearfix:before,
.clearfix:after
	content: ""
	display: table

.clearfix:after
	clear: both

.animated
	animation: fade-in-up 0.7s ease both

.animated-delay-1
	animation-delay: 0.15s

.animated-delay-2
	animation-delay: 0.3s

.animated-delay-3
	animation-delay: 0.45s

@keyframes fade-in-up
	0%
		opacity: 0
		transform: translateY(20px)

	100%
		opacity: 1
		transform: translateY(0)

@keyframes fade-in-down
	0%
		opacity: 0
		transform: translateY(-10px)

	100%
		opacity: 1
		transform: translateY(0)
